{{!-- Complete the form for the signup --}}

<div id="form">
  <h2>Signup</h2>
  <form >

    <label> Username
      <input type="text" name="username" placeholder="ironhacker" />
    </label>

    <button>Create account</button>

  </form>
</div>
